<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>XHSearchTextField.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CB30E27C1DE4559100470DEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB30E2951DE4559300470DEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CB30E2A01DE4559300470DEC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
